<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<header>
    <nav>
        <ul>

            <li><a href="sign.html" target="blank">Sign</a></li>
            <li><a href="sign-up.html" target="blank">Sign up</a></li>
            <li><a href="femme.html" target="blank">Femme</a></li>
            <li><a href="Homme.html" target="blank">Homme</a></li>
            
        </ul>
    </nav>

</header>

<main>
    <div class="container1">
        <div class="Jean">
            <img src="/Img/Jean skinny.jpeg"alt="Jean femme" >
                <p> Jean Skinny</p>
                <p>prix 89 euros</p>
        </div>
        <div class="chemise">
            <img src="/Img/Chemise femme.jpeg"alt="Chemise femme" >
                <p>Chemise soie</p>
                <p> prix 59 euros</p>
        </div>
        <div class="Escarpins">
            <img src="/Img/Escarpins.jpeg"alt="Escarpins femme" >
                <p>Escarpins</p>
                <P>prix 250 euros</P>
            </div>

    </div>

</main>
    
</body>
</html>