<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<header>
    <nav>
        <ul>
            <a href="sign.html">Sign</a>
            <a href="sign-up.html">Sign up</a>
            <a href="femme.html">Femme</a>
            <a href="Homme.html">Homme</a>
            
        </ul>
    </nav>

</header>

<main>
    <div class="container1">
        <div class="Jean">
            <img src="/Img/Jean skinny.jpeg"alt="Jean femme" >
                <p> Jean Skinny</p>
    </div>


    </div>

</main>
    
</body>
</html>