<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boutique</title>
    <link rel="stylesheet" type="text/css" href="/style/style.css">
</head>



<body>
    <header>
        <nav class="naviguation">
            <ul>
                <li><a href="/view/sign.html">Sign</a></li>
                <li><a href="/view/sign-up.html">Sign-up</a></li>
                <li><a href="/view/femme.html">Femme</a></li>
                <li><a href="/view/homme.html">Homme</a></li>
                
                
               
                
            </ul>
    
        </nav>
    </header>
    <main>
        <div class="container1">
            
            <div class="jean">
                <img src="/img/jean homme skinny noir.jpg" alt="Jean homme">
                <p class="paragraphe1">Jean skinny homme </p>
                <p class="prix1">59€</p>
            </div>
            <div class="chemise">
                <img src="/img/chemise bleu homme.jpg" alt="chemise homme bleu">
                <p class="paragraphe2">Chemise slim homme bleu</p>
                <p class="prix2">49€</p>
            </div>
            <div class="sneakers">
                <img src="/img/sneakers bleu.jpg" alt="sneakers homme bleu">
                <p class="paragraphe3">Sneakers homme</p>
                <p class="prix3">69€</p>
            </div>

        </div>
        

    </main>
    
</body>
</html>